<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.main"
  android:versionCode="1"
  android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
    <activity android:name=".NoteWithYourMind"
  		android:label="@string/app_name"
  		android:theme="@style/NoteTitle"
  		android:launchMode = "singleTask">
    </activity>
    <activity android:name=".RootViewList"
      android:label="@string/app_name"
      android:theme="@style/NoteTitle"
      android:launchMode = "singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
		<activity android:name=".SearchResultViewList"
  		android:label="@string/app_name"
  		android:theme="@style/NoteTitle">    	
    </activity>
		<activity android:name=".FolderViewList"
  		android:label="@string/app_name"
  		android:theme="@style/NoteTitle">    	
    </activity>
    <activity android:name=".ListItemEdit"
  		android:label="@string/app_name"
  		android:theme="@style/NoteTitle"
  		android:launchMode = "singleTask">    	
    </activity>
    <activity android:name=".RemindSettingActivity"
      android:label="@string/app_name"
      android:launchMode = "singleTask">
    </activity>
    <activity android:name=".RemindActivity"
      android:label="@string/app_name">
    </activity>
    <activity android:name=".AlarmAlert"
      android:label="@string/app_name">
		</activity>
    <receiver android:name="AlarmReceiver" >
    </receiver>
    <receiver android:name=".BootReceiver"> 
      <intent-filter>   
    		<action android:name="android.intent.action.BOOT_COMPLETED"/>   
    		<category android:name="android.intent.category.HOME" />   
  		</intent-filter>   
		</receiver>
		<receiver android:name=".NoteWidget"
			android:label="Note Widget"
			android:icon="@drawable/logo"> 
      <intent-filter>   
    		<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>    
  		</intent-filter>   
  		<meta-data android:name="android.appwidget.provider" 
  			android:resource="@xml/note_widget_info"/>
		</receiver>
	</application>

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> 
	<uses-permission 
		android:name="android.permission.RECORD_AUDIO">
	</uses-permission>
<uses-sdk android:minSdkVersion="4" />

</manifest> 
